<h1>About</h1>
<p>This is a songs review site where you can get to know about the popular songs of the century.</p>

<div id="user_login">
     Email:  <input type="text" id="email" >
     Password: <input type="password" id = "password" > <br>
    <button id="login_btn" type="button">Login</button><br>
    <p> If you are a new user, please sign up and create an account</p> <br>
    <button id="signup_btn" type="button"  >Sign Up</button> 
</div>
 

<div id="signup_pop"  class = "pop">
    <div class="pop-content">
        <p>Fill in the Details</p>
        Email:  <input type="text" id="nuemail" >
        Password: <input type="password" id = "nupassword" >
        <button id="signup_confirm" type="button">Create account</button>
    </div>
</div>