<body>
<h1>Available Songs</h1>
<p><input type="text"  placeholder="Search a song" id="search_song" (change) = "search_songs()"><br>
<strong style="display: none;" id="search_tag"></strong>

</p>
<ol *ngIf="songs">
  <li *ngFor="let item of songs" >
    <p class="title">{{ item.title }}</p>
    <p class="artist">{{ item.artist }}</p>
    <p class="album">{{ item.album }}</p>
    <!-- conntent after expanding the song-->
    <div id = "overlay" class= "expanded-content">
        <h1>Song</h1>
        <p id="t" class="title"></p>
        <p id="ar" class="artist"></p>
        <p id="al" class="album"></p>
        <p id="y" class="year"></p>
        <p id="g" class="genre"></p> 
        <h1> Reviews </h1>
        <h3> Average Rating</h3>
        <p id="avg rating" class = "artist"></p>
        <ol id="review_list">
        </ol>  
        <a id= "show_rev"role="button" (click)="dispRevs()">More Reviews</a>
        <a class="closebtn" (click)="close()">&times;</a>
    </div>
    <a role="button" (click)= "expand_item(item.title,item.artist,item.album,item.year,item.genre)">Details</a>

    <button id="rev_btn" class="post_rev" type="button" style="display: none;" (click)="addReview(item.title)" >Add Review</button>
    <button id="playlist_btn" class="post_rev" type="button" style="display: none;" (click)="addReview(item.title)" >Add to Playlist</button>
  </li>
  
</ol>
<h1>Playlists Avialable</h1>
<div id="ausers" style="display: none;">
<button id="addsong_btn" type="button" (click)="addSong()">Add Song</button>
<button id="addsong_btn" type="button" (click)="newPlaylist()">Create Playlist</button>
</div>
</body>
