<h1>Available Songs</h1>
<p><input type="text"  placeholder="Search a song" id="search_song" (change) = "search_songs()"><br>
<strong style="display: none;" id="search_tag"></strong>
</p>
<ol *ngIf="songs">
  <li *ngFor="let item of songs">
    <p class="title">{{ item.title }}</p>
    <p class="artist">{{ item.artist }}</p>
    <p class="album">{{ item.album }}</p>
    <p class="year">{{ item.year }}</p>
    <p class="genre">{{ item.genre }}</p>
    <a role="button"  (click)="getReviews()">More Info</a>
    <button id="rev_btn" class="post_rev" type="button" style="display: none;" (click)="addReview(item.title)" >Add Review</button>
  </li>
</ol>

